$(document).ready(function(){

  // Form fields
  $channel = $('#channel');
  $min_bedrooms = $('#min_bedrooms');
  $max_bedrooms = $('#max_bedrooms');
  $location = $('#location');
  $props_result = $('.props-result');

  // prevent min bedrooms exceed max price
  $min_bedrooms.bind('keyup mouseup', function () {
      $this = $(this);
      if(isBigger($max_bedrooms, $this) && !(isBlank($max_bedrooms)))
      {
        matchValues($max_bedrooms, $this)
      }
  });

  $max_bedrooms.bind('keyup mouseup', function () {
      $this = $(this);
      if(isBigger($this, $min_bedrooms) && !(isBlank($min_bedrooms)))
      {
        matchValues($min_bedrooms, $this)
      }
  });

  //
  $('#search-btn').click(function(){
    event.preventDefault();
    loading_src = `<%= image_path("loading.gif")%>`;
    $props_result.html(`<img src="${loading_src}" id='searchResult' class='loading'>`);
    criteria = {
      channel: $channel.val(),
      min_bedrooms: $min_bedrooms.val(),
      max_bedrooms: $max_bedrooms.val(),
      location: $location.val()
    }

    //Ajax
    $.ajax({
      type: 'GET',
      url: '/search',
      data: criteria,
      success: function(properties)
      {
        $('.props-result .loading').fadeOut('fast');
        console.log(properties);
        console.log(properties.length);
        result =''
        if(properties.length <= 0)
        {
          result = '<p class="text-center"><strong>';
          result += 'Sorry, we could not find any properties matching your criterias. Try widenning your search criteria.'
          result += '</strong></p>';
        }
        else
        {
          properties.forEach(function(property) {
            // console.log(property);

            property_uri = property.resource_uri;
            // console.log(property_uri);
            property_id = property.property_id;
            price = property.price_value;
            channel = property.primary_channel;
            property_type = formatPropertyType(property.property_type);
            bedrooms = property.bedrooms;
            bathrooms = property.bathrooms;
            receptions =property.reception_rooms;
            description = property.short_description;
            img_src ='https://dummyimage.com/600x400/ebe7e8/000000.png&text=Awaiting+Images';
            // img_src = `<%= image_path("placeholder.png")%>`;
            if(property.photos.length != 0)
            {
              img_src = 'https://mr0.homeflow.co.uk/';
              img_src += property.photos[0].replace(/120x90/g,'600x400');
            }

            address = property.display_address;

            result +="<div class='col-xs-offset-center-1 col-xs-11 col-sm-5 col-sm-offset-center-1 col-md-3 property'>";

            result +="<p class='prop-address text-center'>"+address+"</p>";

            result += "<a ";
            if((channel === 'sales' && isSold(property) === false ) || (channel === 'lettings' && letAgreed(property) === false))
            {
              result += `href='${property_uri}' `;
            }
            result += 'class="prop-photo-link">';

            result += '<img src="'+ img_src +'" class="img-responsive">';

            if((channel === 'sales' && isSold(property)) || (channel === 'lettings' && letAgreed(property)))
            {
              result +="<div class='prop-status'>"+property.status+"</div>";
            }

            result += '</a>';

            result += "<div class='prop-info'>";

            //Price
            price = property.price;
            if(channel === 'lettings')
            {
              price = accounting.formatMoney(price, "£", 2, ",", ".") +' pcm ';
            }
            result += `<p class='prop_price'>${price}</p>`;

            //Property Type
            result += `<p class='prop_type'> Type : ${property_type} </p>`;

            result += '<p>';
            //Property Bedrooms
            result += `<span class='prop_bedrooms'>${bedrooms}bd </span>`;

            //Property Bathrooms
            if(bathrooms != undefined)
            {
              result += `<span class='prop_bathrooms'>${bathrooms}bth </span>`;
            }

            //Property Receptions
            if(receptions != undefined)
            {
              result += `<span class='prop_receptions'>${receptions}r </span>`;
            }
            result += '</p>';

            //Property furnished
            if(channel == 'lettings')
            {
              result += `<p class="prop-furnished"> Furnished : ${isFurnished(property)}</p>`;
            }

            if(description.length !== 0)
            {
            //   result += '<p class="prop-description">';
            //   result +=  description.substring(0,150);
            //   result += '</p>';
              result += "<p class='prop-description'>";
              result +=`${description.substring(0,150)} ... `;
              if((channel== 'sales' && isSold(property) == false ) || (channel== 'lettings' && letAgreed(property) == false))
              {
                result += `<a href='${property_uri}' style='font-weight:bold'> More </a>`;
              }
              result +="</p>";
            }

            result += "</div>"; /* End of Property info */
            result +='</div>';

          });

        }
        $props_result.html(result);

      }// end of success
    });// End of ajax
  }); // End of search-btn clicked

});
