$(document).ready(function(){
  "use strict";
  // Form fields
  var $channel = $("#channel");
  var $min_bedrooms = $("#min_bedrooms");
  var $max_bedrooms = $("#max_bedrooms");
  var $location = $("#location");
  var $min_price = $("#min_price");
  var $max_price = $("#max_price");
  var $props_result = $(".props-result");

  // prevent min bedrooms exceed max price
  $min_bedrooms.change(function () {
      var $this = $(this);
      if(isBigger($max_bedrooms, $this) && !(isBlank($max_bedrooms)))
      {
        matchValues($max_bedrooms, $this);
      }
  });

  $max_bedrooms.change(function () {
      var $this = $(this);
      if(isBigger($this, $min_bedrooms) && !(isBlank($min_bedrooms)))
      {
        matchValues($min_bedrooms, $this);
      }
  });

  // prevent min bedrooms exceed max price
  $min_price.change(function () {
      var $this = $(this);
      // console.log('');
      // console.log('before');
      // console.log($this.val());
      // console.log($max_price.val());
      if(isBigger($max_price, $this) && !(isBlank($max_price)))
      {
        matchValues($max_price, $this);
        // console.log('called');
      }
      // console.log('after');
      // console.log($this.val());
      // console.log($max_price.val());
  });

  $max_price.change(function () {
      var $this = $(this);
      if(isBigger($this, $min_price) && !(isBlank($min_price)))
      {
        matchValues($min_price, $this);
      }
  });


  //
  $("#search-btn").click(function(event){
    event.preventDefault();
    var loading_src = `<%= image_path("loading.gif")%>`;
    $props_result.html(`<img src="${loading_src}" id='searchResult' class='loading'>`);
    var criteria = {
      channel: $channel.val(),
      min_bedrooms: $min_bedrooms.val(),
      max_bedrooms: $max_bedrooms.val(),
      location: $location.val(),
      min_price: $min_price.val(),
      max_price: $max_price.val()
    };

    //Ajax
    $.ajax({
      type: "GET",
      url: "/search",
      data: criteria,
      success: function(properties)
      {
        $(".props-result .loading").fadeOut("fast");
        // console.log(properties);
        // console.log(properties.length);
        var result ="";
        if(properties.length <= 0)
        {
          result = "<p class='text-center'><strong>";
          result += "Sorry, we could not find any properties matching your criterias. Try widenning your search criteria.";
          result += "</strong></p>";
        }
        else
        {
          properties.forEach(function(property) {
            // console.log(property);

            var property_uri = property.resource_uri;
            // console.log(property_uri);
            var price = property.price_value;
            var channel = property.primary_channel;
            var property_type = "";
            if(typeof property.property_type !== "undefined")
            {
              property_type = formatPropertyType(property.property_type);
            }
            var bedrooms = property.bedrooms;
            var bathrooms = property.bathrooms;
            var receptions =property.reception_rooms;
            var img_src ="https://dummyimage.com/600x400/ebe7e8/000000.png&text=Awaiting+Images";
            // img_src = `<%= image_path("placeholder.png")%>`;
            if(property.photos.length !== 0)
            {
              img_src = "https://mr0.homeflow.co.uk/";
              img_src += property.photos[0].replace(/120x90/g,"600x400");
            }

            var address = property.display_address;

            result +="<div class='col-xs-offset-center-1 col-xs-11 col-sm-5 col-sm-offset-center-1 col-md-3 property'>";

            result +=`<p class='prop-address text-center'>${address}</p>`;

            result += "<a ";
            // if((channel === 'sales' && isSold(property) === false ) || (channel === 'lettings' && letAgreed(property) === false))
            // {
              result += `href='${property_uri}' `;
            // }
            result += "class='prop-photo-link'>";

            result += `<img src='${img_src}' class="img-responsive">`;

            // if((channel === 'sales' && isSold(property)) || (channel === 'lettings' && letAgreed(property)))
            // {
              result +=`<div class='prop-status'>${property.status}</div>`;
            // }

            result += "</a>";

            result += "<div class='prop-info'>";

            //Price
            price = property.price;
            if(channel === "lettings")
            {
              price = accounting.formatMoney(price, "£", 2, ",", ".") +" pcm ";
            }
            result += `<p class='prop-price'>${price}</p>`;

            //Property Type
            result += `<p class='prop_type'> Type : ${property_type} </p>`;

            result += "<p style='margin-bottom:40px'>";
            //Property Bedrooms
            result += `<span class='prop_bedrooms' data-toggle='tooltip' data-placement='top' title='Bedrooms'>${bedrooms}</span>`;

            //Property Bathrooms
            if(bathrooms !== undefined)
            {
              result += `<span class='prop_bathrooms' data-toggle='tooltip' data-placement='top' title='Bathroom'>${bathrooms}</span>`;
            }

            //Property Receptions
            if(receptions !== undefined)
            {
              result += `<span class='prop_receptions' data-toggle='tooltip' data-placement='top' title='Reception'>${receptions}</span>`;
            }
            result += "</p>";

            //Property furnished
            if(channel === "lettings")
            {
              result += `<p class='prop-furnished'> Furnished : ${isFurnished(property)}</p>`;
            }


            result +=`<a href='${property_uri}' class='btn btn-default more'>More</a>`;

            result += "</div>"; /* End of Property info */
            result +="</div>";

          });

        }
        $props_result.html(result);

      }// end of success
    });// End of ajax
  }); // End of search-btn clicked
  $("body").tooltip({selector: "[data-toggle='tooltip']"});
});
