<footer class='pagefooter'>
  <div class='container-fluid'>
    <div class='text-center copyright'>
        &copy;
        <span class="from_date">2017</span>
        -
        <span class=to_date><%= Date.today.year %></span>
        Sonar Ltd. All right Reserved. Registered in England No:
        <%= 'X'*7 %>
    </div>
  </div>
</footer>
