<div class='logo-container'>
  <div class='container'>
    <a href='/' class='brand'>
      <%= image_tag 'sonar40x40-min.png', alt:'Sonar Logo', id:'brand' %><span class='site-name'>Sonar</span></a>
      <span class='tagline'>Scouring the global for your perfect property</span>
  </div>
</div>
